.Top{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  color: white;
  background-color: #0B1354;
  background: linear-gradient(360deg,transparent, #c24695 , #0b1354 75%);
  height: fit-content;
}

.search_bar{
  padding-top: 70px;
  padding-bottom: 70px;
}

.MostView{
  width: 100%;
}
