.searchBar .header {
    position: absolute;
    width: 100%;
    height: 12%;
    background: linear-gradient(to right, #0B1354, #F765A3);
    -webkit-background-clip: text;
    color: transparent;
    display: flex;
    justify-content: center; 
    font-weight: bold;
    font-size: 2.5em; 
    margin-top: 100px;
    z-index: 1;
}

.SortAndAskQues {
    display: flex;
    margin: 0px 300px 0px 200px;
}

.askQues {
    display: flex;
    align-items: end;
}

.topic {
    margin-right: 100px;
}