/* Comment.css */

.commentContainer {
  width: 70%;
  margin: 100px 50px 10px 70px;
}
  
.headComment {
  color: #0b1354;
  padding: 0px 0px 10px 0px;
}

.borderComment {
  padding: 15px;
  border: 1px solid;
  border-radius: 10px;
  border-color: #f9d1d1;
}
  
.commentActions {
  display: flex;
  justify-content: end;
  gap: 10px;
}

.likeButton, .dislikeButton {
  margin: 5px;
  padding: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
  .avatar-and-comment {
    height: auto;
    display: flex;
    margin-right: 10px;
    gap: 10px;
  }

  .avatar {
    height: 50px;
    width: 50px;
    border-radius: 50%;
  }
  
  .commentText {
    color: #0b1354;
    text-align: justify;
  }

  .seeMore {
    font-weight: bold; 
    cursor: pointer; 
    color: #0b1354;
  }

  .addCommentContainer {
    border: #f9d1d1 solid;
    border-radius: 10px;
    padding: 5px;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    outline: none;
  }

  .addCommentContainer p {
    font-style: italic;
    color: #0b1354;
  }

  .likeButton {
    background-color: #f9d1d1;
    color: #0b1354;
  }

  .addCommentContainer {
    height: 40px;
  }

  .addCommentContainer button {
    border: white;
    background-color: white;
  }

  .addCommentContainer textarea {
    width: 100%;
    margin-right: 10px;
    border: white;
  }