.forum{
  color: white;
}

.logo {
  height: 25px;
}

.Header{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  padding: 1% 5% 1% 5%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  background-color: #0B1354;
  position: fixed;
}

.Header a{
  text-decoration: none;
  font-weight: bold;
}

.menu{
  width: 400px;
  max-width: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.account img{
  height: 30px;
  width: 30px;
}

.account{
  width: fit-content;
  color: white;
  display: flex;
  gap: 10px;
}

.account .username{
  height: 30px;
  width:max-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn{
  background-color: white;
  border-radius: 5px;
  color: #0B1354;
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_icon{
  display: none;
  width: 30px;
  height: 30px;
  margin: auto;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .logo{
    height: 25px;
  }

  .nav_icon{
    display: block;
  }

  .btn{
    background-color: transparent;
    color: white;
    padding: 0;
    margin: 0;
  }

  .menu > *{
    padding: 20px 10px 20px 10px;
  }

  .hiddenMenu > *{
    padding: 20px 0px 20px 0px;
  }

  .menu{
    width: max-content;
    position: fixed;
    right: 0;
    top: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0B1354;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateX(100%);
    transition: 0.4s ease-out;
  }

  .hiddenMenu{
    width: max-content;
    position: fixed;
    right: 0;
    top: 51px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #0B1354;
    border-radius: 5px;
    transform: translateX(0);
    transition: 0.4s ease-in;
  }

  .account{
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid white;
  }

  .account img{
    display: flex;
    justify-content: center;
  }
}
