/* ForumAns.css */

.ForumAnsContainer {
    width: 70%;
    margin: 0px 50px 10px 0px;
    padding: 0px 10px 10px 10px;
    position: relative;
    z-index: 1;
  }
    
  .headForumAns {
    margin-left: 100px;
    padding: 10px;
    color: #0b1354;
    display: flex;
    justify-content: space-between;
  }
  
  .bodyForumAns {
    display: flex;
  }

  .CommentAndAddComment {
    width: 100%;
    border: #f9d1d1 1px solid;
    margin: 10px 0px 0px 100px;
    border-radius: 10px;
    padding: 10px;
  }
    
  .ForumAnsActions {
    display: flex;
    justify-content: end;
  }
  
  .likeButton {
    margin: 5px;
    padding: 5px;
    border: none;
    border-radius: 4px;
  }
    .avatar-and-ForumAns {
      height: auto;
      display: flex;
      margin-right: 10px;
      gap: 10px;
    }
  
    .avatar {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
    
    .ForumAnsText {
      color: #0b1354;
      text-align: justify;
    }
  
    .seeMore {
      font-weight: bold; 
      cursor: pointer; 
      color: #0b1354;
    }
  
    .author {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      color: #0b1354;
    }

    .addForumAnsContainer {
      border: #f9d1d1 solid;
      border-radius: 10px;
      padding: 5px;
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
  
    .addForumAnsContainer p {
      font-style: italic;
      color: #0b1354;
    }
  
    .likeButton {
      background-color: #f9d1d1;
      color: #0b1354;
    }
  
    .addForumAnsContainer {
      height: 40px;
    }
  
    .addForumAnsContainer button {
      border: white;
      background-color: white;
    }
  
    .addForumAnsContainer textarea {
      width: 100%;
      margin-right: 10px;
      border: white;
    }