@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.cs-button--attachment{
  display: none !important;
}
.cs-message__content{
  background-color: white !important;
  color: #0B1354 !important;
  margin-bottom: 5px;
}
.scrollbar-container{
  background-color: #F9D1D1 !important;
}
.cs-button{
  color: #0B1354 !important;
}
.cs-message-input__content-editor{
  background-color: white !important;
}
.cs-message-input__content-editor-wrapper{
  background-color: white !important;
}
.cs-main-container{ 
  border: none !important;
}
.cs-message-input{
  border: none !important;
  padding: 10px 20px 10px 20px !important;
  background-color: #F9D1D1 !important;
}
.cs-message-input__tools{
  display: block !important;
}
.cs-button--send{
  cursor: pointer !important;
}
.cs-message-list-typing-indicator{
  color: #0B1354;
  height: 200px;
}
.chatHeader{
  color: #F9D1D1;
  background-color: #0B1354;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.closeChat{
  color: #F9D1D1;
  background-color: #0B1354;
  border: none;
  font-size: larger;
  cursor: pointer;
}
.cs-typing-indicator__text{
  color: #0B1354 !important;
}
#hiddenChat{
  display: none;
}
#chat{
  border-radius: 5px;
}