/* forumQues.css */

/* Style for the entire ForumQues container */
.fullForumQues {
    width: 70%;
    margin: 50px 50px 0px 0px;
    position: relative;
    z-index: 1;
  }
  
  /* Style for the header section of the ForumQues */
  .headForumQues {
    margin-left: 100px;
    padding: 10px;
    color: #0b1354;
  }

  .headForumQues h1 {
    display: flex;
    justify-content: space-between;
  }
  
  .authorAndPublicationDate {
    display: flex;
    justify-content: space-between;
  }
  
  /* Style for the body section of the ForumQues */
  .bodyForumQues {
    padding: 10px;
    display: flex;
  }

  .bodyForumQuesContent{
    border-bottom: 1px solid #f9d1d1;
    border-top: solid 1px #f9d1d1;
    padding: 20px 10px 20px 10px;
  }

  .bodyForumQuesContent img {
    width: 100%;
    border-radius: 10px;
  }
  
  .bodyForumQuesContent p {
    height: auto;
    line-height: 1.6;
    color: #0b1354;
    text-align: justify;
  }
  
  /* Add more styles as needed */