.addQuesBtn {
    width: 200px;
    height: 40px;
    z-index: 99 !important;
    color: #0b1354 !important;
    border-color: white !important;
    background-color: #f9d1d1 !important;
    border-radius: 10px;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}